@tailwind base;
@tailwind components;
@tailwind utilities;

/*
=====================
Header
=====================

*/
.social-icon-container {
    a {
        img {
            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }
}
/*
====================
service-menu
====================
*/ 
.service-price-container{
    width: 70vw;
}
.service-price-container h2{
    color: #9caba1;
}
.price-detail-container{
    background-color: #fafafa;
}
/*
=================
Gallery
=================
*/ 
.collection-container{
    width: 37vw;
}
.gallery-container{
    background-color: #fafafa;
}
/*===================
Footer
===================
*/
.footer-wrapper {
    height: 10vh;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 1s linear infinite;
}