@tailwind base;
@tailwind components;
@tailwind utilities;

/*
=====================
Header
=====================

*/
.social-icon-container {
    a {
        img {
            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }
}
/*
=============
Home Page
=============
*/ 
.cta-image-container{
    width: 100vw !important;

    img{
        width: 100% !important;
    }
}
.overlay-container{
    width: 30%;
    top: 35%;
    left: 12%;
    background-color: rgb(255,255,255,0.5);
    height: 45%;
}
.cta-header-container{
    border-bottom: 2.5px solid #54595F;
}
/*
====================
service-menu
====================
*/ 
.service-price-container{
    width: 70vw;
}
.service-price-container h2{
    color: #9caba1;
}
.price-detail-container{
    background-color: #fafafa;
}
/*
=================
Gallery
=================
*/ 
.collection-container{
    width: 40vw;
}
.gallery-container{
    background-color: #fafafa;
    width: 60vw;
}
/*===================
Footer
===================
*/
.footer-wrapper {
    height: 10vh;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 1s linear infinite;
}